{% extends "main.html" %}

{% block tabs %}
    {{ super() }}

    <section class="mdx-container">
        <div class="md-grid md-grid-dense md-typeset">
            <div class="mdx-hero">
                <picture>
                    {% include "partials/heptaconnect-logo.svg" %}
                </picture>

                <div class="mdx-hero__content">
                    <p class="home-claim">
                        <span class="first-line">
                            Your framework to connect.
                        </span>

                        <br>

                        <span class="sub-line">
                            Connect to what? <span class="tag-typewriter">Well, ...</span>
                        </span>
                    </p>

                    <div class="home-instructions">
                        <pre class="highlight"><code class="language-bash">git clone https://github.com/HEPTACOM/heptaconnect-playground.git
    make -C heptaconnect-playground</code></pre>
                        <a
                            href="{{ '/guides/playground/'|url }}"
                            title="Getting Started"
                            class="md-button md-button--primary"
                        >
                            Getting Started
                            {% include ".icons/material/arrow-right.svg" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="md-typeset md-grid-dense hc-cards">
        <a class="hc-card hc-card--administrator" href="{{ 'guides/administrator/'|url }}">
            <picture>
                {% include ".icons/fontawesome/solid/wrench.svg" %}
            </picture>

            <h2>
                Administrator
            </h2>

            <p>
                Setup, control and monitor HEPTAconnect instances.
            </p>
        </a>

        <a class="hc-card hc-card--integrator" href="{{ 'guides/integrator/'|url }}">
            <picture>
                {% include ".icons/fontawesome/solid/network-wired.svg" %}
            </picture>

            <h2>
                Integrator
            </h2>

            <p>
                Introduce HEPTAconnect into your project to connect it with the world.
            </p>
        </a>

        <a class="hc-card hc-card--portal-developer" href="{{ 'guides/portal-developer/'|url }}">
            <picture>
                {% include ".icons/fontawesome/solid/plug.svg" %}
            </picture>

            <h2>
                Portal developer
            </h2>

            <p>
                Create a HEPTAconnect portal for your API and extend existing portals
            </p>
        </a>

        <a class="hc-card hc-card--default" href="{{ 'reference/'|url }}">
            <picture>
                {% include ".icons/fontawesome/solid/books.svg" %}
            </picture>

            <h2>
                References
            </h2>

            <p>
                Learn more about the internals or lookup technical details.
            </p>
        </a>
    </section>
    <section class="md-typeset md-grid-dense" style="margin: 5rem auto 0">
        <h1>
            Why HEPTAconnect?
        </h1>
        <div>
            <dl class="why-heptaconnect-dl">
                <dt>
                    Documentation for various personas
                </dt>
                <dd>
                    HEPTAconnect packages are developed, deployed, updated, configured and monitored.
                    These tasks are shared across different personas reading the documentation to ensure the expected scope matches the reader.
                </dd>
                <dt>
                    Open Source your project
                </dt>
                <dd>
                    The code for every package can be either accessed publicly or with vendor licensing.
                    Work with vendor project support HEPTAhelp or code on your own.
                    HEPTACOM GmbH will enable you to work on your own project.
                </dd>
                <dt>
                    Host wherever PHP runs
                </dt>
                <dd>
                    Do not be vendor-locked to a specific hosting environment.
                    Meet your data protection policies and have own DMZ or take a cloud infrastructure provider of your choice.
                </dd>
                <dt>
                    Update with your other applications
                </dt>
                <dd>
                    Plan your own maintenance times to match your business actions.
                    No unexpected releases as you have full control of your own project.
                </dd>
                <dt>
                    Adapt to your business changes
                </dt>
                <dd>
                    Add new APIs when new services needs to be introduced or cut off old ones.
                    No need to adapt multiple one-trick-data-transfers to work together.
                </dd>
                <dt>
                    Test-drive
                </dt>
                <dd>
                    Use code versioning to plan data flows and test them in copies of your infrastructure to ensure your project quality.
                </dd>
                <dt>
                    Limitless framework
                </dt>
                <dd>
                    Implement your workflows in your data transfer instead of adapting your workflows to the data transfer software.
                    Connect your data regardless of its structure and availability.
                    Event based triggers, importing files, time based triggers, differential checks, custom checks between APIs.
                </dd>
                <dt>
                    Prioritize high-load scenarios
                </dt>
                <dd>
                    Expecting high-load events? Decide which data takes the road and which runs on the speedway.
                    This ensure, that time-relevant data is on time.
                </dd>
                <dt>
                    Use existing monitoring and backups infrastructure
                </dt>
                <dd>
                    Place your HEPTAconnect storage anywhere and use your existing backup storage.
                    Make use of health monitoring and integrate your logging services without having to learn new software.
                    Receive emails on any event you need to know about.
                </dd>
            </dl>
        </div>
    </section>
    <section class="md-typeset md-grid-dense" style="margin: 5rem auto 0">
        <h1>
            Latest news
        </h1>
    </section>

    {% include "partials/generated/latest-news.html" %}

    <script>
        /* Safari fix for typing animation */
        function refreshSafariElement(element) {
            element.style.display = 'inline-block';
            element.offsetHeight;
            element.style.display = 'inline';
        }

        function typingEffect() {
            const contactTexts = ([
                'Shops',
                'Excel spreadsheets',
                'REST APIs',
                'ERPs',
                'CSV files',
                'SOAP APIs',
                'CRM',
                'E-mail inbox',
                'Databases',
                'Humans',
                'PIM',
                'Data exports',
                'IPC APIs',
                'File shares',
            ]);
            const tagTypewriter = document.querySelector('.tag-typewriter');
            let removing = true;
            let idx = contactTexts.length - 1;
            let char = tagTypewriter.textContent.length;

            setInterval(() => {
                if (char < contactTexts[idx].length) {
                    tagTypewriter.innerHTML += contactTexts[idx][char];
                    refreshSafariElement(tagTypewriter);
                }

                if (char == contactTexts[idx].length + 30) removing = true;

                if (removing) {
                    tagTypewriter.innerHTML = tagTypewriter.innerHTML.substring(0, tagTypewriter.innerHTML.length - 1);
                    refreshSafariElement(tagTypewriter);
                }

                char++;

                if (tagTypewriter.innerHTML.length === 0) {
                    if (idx === contactTexts.length - 1) idx = 0
                    else idx++;

                    char = 0;
                    removing = false;
                }
            }, 90);
        }

        setTimeout(typingEffect, 4000);
    </script>

    <style>
        @media screen and (min-width: 65rem) {
            dl.why-heptaconnect-dl {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 0 50px;
            }

            dl.why-heptaconnect-dl dt:nth-of-type(n+1):not(:nth-of-type(n+4)) {
                grid-row-start: 1;
            }
            dl.why-heptaconnect-dl dt:nth-of-type(n+4):not(:nth-of-type(n+7)) {
                grid-row-start: 3;
            }
            dl.why-heptaconnect-dl dt:nth-of-type(n+7) {
                grid-row-start: 5;
            }

            dl.why-heptaconnect-dl dd:nth-of-type(n+1):not(:nth-of-type(n+4)) {
                grid-row-start: 2;
            }
            dl.why-heptaconnect-dl dd:nth-of-type(n+4):not(:nth-of-type(n+7)) {
                grid-row-start: 4;
            }
            dl.why-heptaconnect-dl dd:nth-of-type(n+7) {
                grid-row-start: 6;
            }

            dl.why-heptaconnect-dl dt:nth-last-of-type(3n-3),
            dl.why-heptaconnect-dl dd:nth-last-of-type(3n-3) {
                grid-column-start: 1;
            }
            dl.why-heptaconnect-dl dt:nth-last-of-type(3n-2),
            dl.why-heptaconnect-dl dd:nth-last-of-type(3n-2) {
                grid-column-start: 2;
            }
            dl.why-heptaconnect-dl dt:nth-last-of-type(3n-1),
            dl.why-heptaconnect-dl dd:nth-last-of-type(3n-1) {
                grid-column-start: 3;
            }
        }

        dl.why-heptaconnect-dl dt {
            font-weight: bold;
        }
        dl.why-heptaconnect-dl dd {
            margin-left: 20px !important;
        }
    </style>
{% endblock %}

{% block content %}{% endblock %}
{% block site_nav %}
    {% if page and page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}

    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}
            </div>
        </div>
    </div>
{% endblock %}
