/docs/assets/javascripts/vendor/
/docs/assets/plantuml/
/docs/assets/app.css
/docs/news/
/document.pdf
/assets/css/vendor/
/site

# Dependencies
/.bin/PhpDependencyAnalysis
/node_modules
/.venv

# Generated data
/.data
/overrides/partials/generated/adr-complete-list.html
/overrides/partials/generated/latest-news.html
/overrides/partials/generated/releases-major-latest-bridge-shopware-platform.html
/overrides/partials/generated/releases-major-latest-core.html
/overrides/partials/generated/releases-major-latest-framework.html
/overrides/partials/generated/releases-major-latest-dataset-base.html
/overrides/partials/generated/releases-major-latest-dataset-ecommerce.html
/overrides/partials/generated/releases-major-latest-package-http.html
/overrides/partials/generated/releases-major-latest-package-shopware-6.html
/overrides/partials/generated/releases-major-latest-package-web-frontend.html
/overrides/partials/generated/releases-major-latest-portal-base.html
/overrides/partials/generated/releases-major-latest-portal-local-shopware-platform.html
/overrides/partials/generated/releases-major-latest-storage-base.html
/overrides/partials/generated/releases-major-latest-storage-shopware-dal.html
/overrides/partials/generated/releases-major-latest-test-suite-storage.html
/overrides/partials/generated/releases-major-previously-bridge-shopware-platform.html
/overrides/partials/generated/releases-major-previously-core.html
/overrides/partials/generated/releases-major-previously-dataset-base.html
/overrides/partials/generated/releases-major-previously-dataset-ecommerce.html
/overrides/partials/generated/releases-major-previously-framework.html
/overrides/partials/generated/releases-major-previously-package-http.html
/overrides/partials/generated/releases-major-previously-package-shopware-6.html
/overrides/partials/generated/releases-major-previously-package-web-frontend.html
/overrides/partials/generated/releases-major-previously-portal-base.html
/overrides/partials/generated/releases-major-previously-portal-local-shopware-platform.html
/overrides/partials/generated/releases-major-previously-storage-base.html
/overrides/partials/generated/releases-major-previously-storage-shopware-dal.html
/overrides/partials/generated/releases-major-previously-test-suite-storage.html
/overrides/partials/generated/releases-upcoming-bridge-shopware-platform.html
/overrides/partials/generated/releases-upcoming-core.html
/overrides/partials/generated/releases-upcoming-dataset-base.html
/overrides/partials/generated/releases-upcoming-dataset-ecommerce.html
/overrides/partials/generated/releases-upcoming-framework.html
/overrides/partials/generated/releases-upcoming-package-http.html
/overrides/partials/generated/releases-upcoming-package-shopware-6.html
/overrides/partials/generated/releases-upcoming-package-web-frontend.html
/overrides/partials/generated/releases-upcoming-portal-base.html
/overrides/partials/generated/releases-upcoming-portal-local-shopware-platform.html
/overrides/partials/generated/releases-upcoming-storage-base.html
/overrides/partials/generated/releases-upcoming-storage-shopware-dal.html
/overrides/partials/generated/releases-upcoming-test-suite-storage.html
/overrides/partials/github.json
/docs/assets/uml
/mkdocs-pdf.yml

# Devenv
.devenv*
devenv.local.nix
