/docs/assets/javascripts/vendor/
/docs/assets/plantuml/
/docs/assets/app.css
/assets/css/vendor/
/docs/feed/
/site

# Dependencies
/node_modules
/.venv

# Generated data
/.data
/overrides/partials/github.json
/docs/assets/uml
/mkdocs-pdf.yml
