{% extends "main.html" %}

{% block content %}
    {% if page.edit_url %}
        <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
            {% include ".icons/material/pencil.svg" %}
        </a>
    {% endif %}

    {% set content = page.content %}

    {% if page and page.meta and page.meta.title %}
        {% set content = content|replace('<h1 id="changelog">Changelog</h1>', '<h1 id="changelog">%s</h1>'|format(page.meta.title)) %}
    {% elif page.title %}
        {% set content = content|replace('<h1 id="changelog">Changelog</h1>', '<h1 id="changelog">%s</h1>'|format(page.title)) %}
    {% endif %}

{% set openSummary %}
<details>
    <summary>
        Past changes
    </summary>
{% endset %}

{% set closeSummary %}
    </details>
{% endset %}

    {% set content = content|replace('<!--open-previous-releases-->', openSummary)|replace('<!--close-previous-releases-->', closeSummary) %}
    {% set content = content|replace("<p>All notable changes to this project will be documented in this file.</p>\n",'') %}

    {{ content }}

    {% if page and page.meta %}
        {% if page.meta.git_revision_date_localized or page.meta.revision_date %}
            {% include "partials/source-file.html" %}
        {% endif %}
    {% endif %}
{% endblock %}
