:root {
    --md-text-font-family: Helvetica, sans-serif;
    --md-code-font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

    --md-hue: 218;
    --hc-role-portal-developer: #9427b9;
    --hc-role-integrator: #e7af29;
    --hc-role-administrator: #db026b;
    --hc-role-playground: #aa0d16;
    --hc-role-contributor: #00b6d5;
}

[data-md-color-scheme="slate"] {
    --md-hue: 218;
    --md-primary-fg-color: #0A6EE7;
    --md-default-bg-color: hsl(var(--md-hue), 38%, 16%);
    --md-default-bg-color--light: hsl(var(--md-hue), 38%, 24%);
    --md-default-bg-color--lighter: hsl(var(--md-hue), 38%, 32%);
    --md-default-bg-color--lightest: hsl(var(--md-hue), 38%, 40%);
    --md-code-bg-color: hsl(var(--md-hue), 20%, 26%);
}

body.hc-role-portal-developer {
    --md-primary-fg-color: var(--hc-role-portal-developer);
}
body.hc-role-integrator {
    --md-primary-fg-color: var(--hc-role-integrator);
}
body.hc-role-administrator {
    --md-primary-fg-color: var(--hc-role-administrator);
}
body.hc-role-playground {
    --md-primary-fg-color: var(--hc-role-playground);
}
body.hc-role-contributor {
    --md-primary-fg-color: var(--hc-role-contributor);
}

.hc-role-color--portal-developer {
    color: var(--hc-role-portal-developer) !important;
}
.hc-role-color--integrator {
    color: var(--hc-role-integrator) !important;
}
.hc-role-color--administrator {
    color: var(--hc-role-administrator) !important;
}
.hc-role-color--playground {
    color: var(--hc-role-playground) !important;
}
.hc-role-color--contributor {
    color: var(--hc-role-contributor) !important;
}

.hc-role-image--portal-developer svg,
svg.hc-role-image--portal-developer {
    fill: var(--hc-role-portal-developer) !important;
}

.hc-role-image--integrator svg,
svg.hc-role-image--integrator {
    fill: var(--hc-role-integrator) !important;
}

.hc-role-image--administrator svg,
svg.hc-role-image--administrator {
    fill: var(--hc-role-administrator) !important;
}

.hc-role-image--playground svg,
svg.hc-role-image--playground {
    fill: var(--hc-role-playground) !important;
}

.hc-role-image--contributor svg,
svg.hc-role-image--contributor {
    fill: var(--hc-role-contributor) !important;
}

.hc-role-border--portal-developer {
    border-color: var(--hc-role-portal-developer) !important;
}

.hc-role-border--integrator {
    border-color: var(--hc-role-integrator) !important;
}

.hc-role-border--administrator {
    border-color: var(--hc-role-administrator) !important;
}

.hc-role-border--playground {
    border-color: var(--hc-role-playground) !important;
}

.hc-role-border--contributor {
    border-color: var(--hc-role-contributor) !important;
}

.md-grid {
    max-width: 85rem;
}

.md-grid-dense {
    max-width: 65rem;
    line-height: 1.5;
}

.mdx-hero {
    padding: 0;
}

.mdx-hero::after {
    content: '';
    display: block;
    clear: both;
}

.mdx-hero > picture {
    width: 100%;
    padding: 1rem;
    display: block;
}

.mdx-hero picture svg {
    fill: #000000;
    height: 7rem;
    margin: 1rem auto;
    display: block;
}

[data-md-color-scheme="slate"] .mdx-hero picture svg {
    fill: var(--md-default-fg-color);
}

.mdx-hero > .mdx-hero__content .md-button,
.mdx-hero > .mdx-hero__content h1,
.mdx-hero > .mdx-hero__content p {
    display: block;
    margin: 0 1rem;
}

.mdx-hero > .mdx-hero__content .md-button {
    display: flex;
    justify-content: space-between;
}

.mdx-hero > .mdx-hero__content .md-button svg {
    display: inline;
    height: 1.2rem;
    vertical-align: middle;
    line-height: 1.2rem;
    fill: white;
}

.mdx-hero > .mdx-hero__content h1 {
    text-align: center;
    padding-bottom: 1rem;
}

.heptaconnect-cards {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    padding: 1rem 1rem 0;
}

a.hc-role-link--portal-developer .heptaconnect-card-content,
a.hc-role-link--integrator .heptaconnect-card-content,
a.hc-role-link--administrator .heptaconnect-card-content,
a.hc-role-link--playground .heptaconnect-card-content,
a.hc-role-link--contributor .heptaconnect-card-content {
    color: var(--md-default-fg-color) !important;
}

@media screen and (min-width: 45rem) {
    .heptaconnect-cards {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 1rem 0;
    }

    .mdx-hero {
        padding: 3rem;
    }

    .mdx-hero > picture {
        float: left;
        margin-right: 1rem;
        width: 10rem;
        padding: 0;
    }

    .mdx-hero > picture svg {
        height: auto;
    }

    .mdx-hero > .mdx-hero__content {
        float: left;
        margin-left: 1rem;
    }

    .mdx-hero > .mdx-hero__content .md-button {
        display: inline;
    }

    .mdx-hero > .mdx-hero__content .md-button svg {
        display: none
    }

    .mdx-hero > .mdx-hero__content h1 {
        text-align: left;
    }

    .mdx-hero > .mdx-hero__content .md-button,
    .mdx-hero > .mdx-hero__content h1,
    .mdx-hero > .mdx-hero__content p {
        margin: 0;
    }
}

@media screen and (min-width: 65rem) {
    .heptaconnect-cards {
        padding: 0;

        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
}

.heptaconnect-cards > * {
    border-radius: 0.1rem;
    border: var(--md-default-fg-color) .15rem solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--md-default-fg-color);
}

.md-typeset.heptaconnect-cards a,
.md-typeset .heptaconnect-cards a {
    color: var(--md-default-fg-color);
}

.heptaconnect-cards svg {
    display: block;
    height: 5rem;
    margin: 0 auto;
    fill: var(--md-default-fg-color);
}

.heptaconnect-cards picture {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: var(--md-default-fg-color) 0.15rem solid;
}

.heptaconnect-cards .heptaconnect-card-title {
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}

.tag-typewriter {
    position: relative;
    padding-right: 5px;
}

.tag-typewriter::after {
    display: block;
    content: '';
    width: 3px;
    background-color: var(--md-default-fg-color);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    animation: blink-animation 1s steps(3, start) infinite;
    -webkit-animation: blink-animation 1s steps(3, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.heptaconnect-footer-copyright, /* style clone of md-footer-copyright to disable download link generator */
.heptaconnect-footer-download {
    color: var(--md-footer-fg-color--lighter);
    font-size: .64rem;
    margin: auto .6rem;
    padding: .4rem 0;
    width: 100%;
}

.heptaconnect-footer-download {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heptaconnect-footer-download > span {
    margin-right: 0.64rem;
}

.heptaconnect-footer-download > svg {
    fill: var(--md-footer-fg-color--lighter);
    height: 0.64rem;
}

.heptaconnect-footer-copyright,
.heptaconnect-footer-download,
.md-footer-social {
    flex-basis: 100%;
    text-align: center;
}

.md-footer-social__link {
    width: 2.1rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

@media screen and (min-width: 45rem) {
    .heptaconnect-footer-copyright,
    .heptaconnect-footer-download,
    .md-footer-social {
        font-size: .64rem;
        flex-basis: 30%;
    }

    .heptaconnect-footer-download {
        justify-content: flex-start;
    }

    .heptaconnect-footer-copyright {
        text-align: center;
    }

    .md-footer-social {
        text-align: right;
    }
}
