@import "./vue.css";

:root {
    --toc-width: 380px;
    --theme-color: #0070C9;
}

.content {
    background: #fff;
    overflow-y: auto;
}

.page_toc {
    display: none;
    margin: 0 80px;
}

@media print {
    .content {
        left: 0;
        padding-top: 0;
        display: block !important;
    }

    .markdown-section {
        margin: 0 !important;
        max-width: none;

        & > :first-child {
            display: none;
        }
    }

    .docsify-pagination-container {
        display: none !important;
    }
}

@media screen {
    .markdown-section {
        width: 100%;
        margin: 0 auto !important;
        max-width: 720px;
    }
}

@media screen and (min-width: 769px) {
    .markdown-section {
        width: 80%;
        margin: 0 auto 0 80px !important;
    }
}

@media screen and (min-width: 1301px) {
    .page_toc {
        display: block;
    }
}

@media screen and (min-width: 1601px) {
    :root {
        --toc-width: 480px;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(180deg);
    }
}
